.Success{
text-align:center;
}
/*For the Browse view, set a left-margin of 0px
and a right-margin of 15px on your thumbnail <div> elements.
For the individual Movie thumbnails, set a relative position,
 a border-width of 1px, border-radius of 4px,
border-color of #25383C, a right-margin of 5px,
text that is scaled to 80% of that of the parent element,
and horizontally-right-aligned text. */
.thumbnail{

}

.thumbnails{
	padding-top: 50px;
}



.some_class{
position:relative;
border-width: 1px;
border-color: #25383C;
font-size:80%;
text-align:right;
margin-right: 5px;
background-color: white;
border-radius: 4px;

}
.caption{
  margin-left:0px;
  margin-right:15px;
}
.col-sm-9{
color:grey;
}

#selectImage{
/*float:right;*/
/*text-align:right;*/
}

#picLabel{
float:left;
}
#content{
	color:white;
	font-family: Verdana;
	text-align: center;
}
.control-label{
font-family:Andika;
font-size:18px;
white-space: nowrap;}
#footer{
	color:grey;
	background-color: black;
	text-align: right;
	font-family: Verdana;
	font-size: 12px;
	width:100%;
}

#rowform{
	width: 100% !important; /*1349*/
	padding-top:110px;
	background-image: url(../img/blank.png);
	background-size:   cover;                      /* <------ */
	background-repeat: no-repeat;
	padding-bottom:30px;
  margin-right: 0;
  margin-left: 0;
  height:1000px;
}


.about-home{
	padding-top:50px;
	background-image: url(../img/blank.png);
	background-size:   cover;                      /* <------ */
	background-repeat: no-repeat;
	height: 1000px;
	width: 100%;
}

  .about-home h1,
  .about-home .h1 {
    font-size: 26px;
    text-align: left;
    color: aqua;
  }
  .about-home h3,
  .about-home .h3 {
    font-size: 15px;
    text-align:left;
  }

.home-hero {
  background-image: url(../img/HJ_2.jpg);
  background-size:   cover;                      /* <------ */
  background-repeat: no-repeat;
  height: 1000px;
  width: 100%;
}
  .home-hero h1,
  .home-hero .h1 {
    font-size: 36px;
	text-shadow: 1px 1px 1px black;
  }
  .home-hero h3,
  .home-hero .h3 {
    font-size: 24px;
	text-shadow: 1px 1px 1px black;
  }
}

.home-menu {
  font-size: 125%;
}
#mytext {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.movies-home {
  padding-top: 50px;
  height:1000px;
  color: red;
}

/*the "color" of the buttons to make the text visible.
 vertically align your button-text in the center of the button, */


#home-button{
background-color:rgba(0,0,0,0.5);
opacity: 0.5;
white-space: pre-wrap;
max-width:200px;
margin-top: 10px;
margin-bottom: 10px;
margin-left: 6px;
margin-right: 6px;
font-size:18px;
font-family:Arvo;
border-radius: 4px;
color:white;
display: inline-flex;
align-items: center; /* cross axis */
justify-content: center; /* main axis */
line-height: 1; /* reset */
}
#home-button-img{
margin-top: 10px;
margin-bottom: 10px;
margin-left: 6px;
margin-right: 6px;
width:70px;
height:60px;}
