<div class="row" id="rowform">
<!--<div class="Success" role="alert"></div>-->
    <div class="col-xs-6">  <!-- col 1 -->
        <div id="movieform">
            <input type="button" id="save" name="save" class="btn btn-primary save" value="Save Changes" />
			<input type="button" id="delete" name="delete" class="btn btn-danger delete" value="Delete Movie"/>
            </br></br>
            <div class="form-group">
                <label for="inputTitle" class="col-sm-2 control-label">Title</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="title" placeholder="e.g. Something" value="<%= title %>">
                </div>
				</br>
				</br>
				</br>
				<label for="inputTitle" class="col-sm-2 control-label">Released</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="released" placeholder="Released" value="<%= released %>">
                </div>
				</br>
				</br>
				</br>
				<label for="inputTitle" class="col-sm-2 control-label">Director</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="director" placeholder="e.g. Steven Speilberg" value='<%= director %>'>
                </div>
				</br>
				</br>
				</br>
				<label for="inputTitle" class="col-sm-2 control-label">Rating</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="rating" placeholder="e.g. G, PG, PG-13, R" value="<%= rating %>">
                </div>
				</br>
				</br>
				</br>
				<label for="inputTitle" class="col-sm-2 control-label">Starring</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="starring" placeholder="e.g. Hugh Jackman, Ryan Reynolds" value="<%= starring %>">
                </div>
				</br>
				</br>
				</br>
				<label for="inputTitle" class="col-sm-2 control-label">Duration</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="duration" placeholder="122 minutes" value="<%= duration %>">
                </div>
				</br>
				</br>
				</br>
				<label for="inputTitle" class="col-sm-2 control-label">Genre(s)</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="genre" placeholder="e.g. comedy, thriller, action" value="<%= genre %>">
                </div>
				</br>
				</br>
				</br>
				<label for="inputTitle" class="col-sm-2 control-label">Synopsis</label>
                <div class="col-sm-10">
                    <textarea class="form-control" rows="5" col="4" id="synopsis" placeholder="Summary of the plot"><%= synopsis %></textarea>
                </div>
				<label for="inputTitle" class="col-sm-2 control-label">Trailer URL</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="trailer" placeholder="e.g. https://www.archive.org" value="<%= trailer %>">
                </div>				
            </div>
        </div>
    </div>  <!-- end column 1 -->

    <div class="col-xs-6">  <!-- col 2 -->
        <div id="movieimg">
        </div>
    </div>   <!-- end column 2 -->
</div> <!-- row -->