<div class="row" id="rowform">
<!--<div class="Success" role="alert"></div>-->
    <div class="col-xs-6">  <!-- col 1 -->
        <div id="movieform">
		<div class="editActions">
            <input type="button" id="save" name="save" class="btn btn-primary save" value="Save Changes" />
			<input type="button" id="delete" name="delete" class="btn btn-danger delete" value="Delete Movie"/>
            </br></br>
		</div>
		<div class ="form-horizontal">
            <div class="form-group">
                <label for="inputTitle" class="col-sm-3 control-label">Title</label>
                    <input type="text" class="col-sm-9" name="title" id="title" placeholder="e.g. Something" value="<%= title %>">
                    <span class="help-block"></span>
            </div>
            <div class="form-group">
				<label for="inputTitle" class="col-sm-3 control-label">Released</label>
                    <input type="text" class="col-sm-9" id="released" placeholder="Released" value="<%= released %>">
                    <span class="help-block"></span>
            </div>
            <div class="form-group">
				<label for="inputTitle" class="col-sm-3 control-label">Director</label>
                    <input type="text" class="col-sm-9" id="director" placeholder="e.g. Steven Speilberg" value='<%= director %>'>
                    <span class="help-block"></span>
            </div>
            <div class="form-group">
				<label for="inputTitle" class="col-sm-3 control-label">Rating</label>
                    <input type="text" class="col-sm-9" id="rating" placeholder="e.g. G, PG, PG-13, R" value="<%= rating %>">
                    <span class="help-block"></span>
            </div>
            <div class="form-group">
				<label for="inputTitle" class="col-sm-3 control-label">Starring</label>
                    <input type="text" class="col-sm-9" id="starring" placeholder="e.g. Hugh Jackman, Ryan Reynolds" value="<%= starring %>">
                    <span class="help-block"></span>
            </div>
            <div class="form-group">
				<label for="inputTitle" class="col-sm-3 control-label">Duration</label>
                    <input type="text" class="col-sm-9" id="duration" placeholder="122 minutes" value="<%= duration %>">
                    <span class="help-block"></span>
            </div>
            <div class="form-group">
				<label for="inputTitle" class="col-sm-3 control-label">Genre(s)</label>
                    <input type="text" class="col-sm-9" id="genre" placeholder="e.g. comedy, thriller, action" value="<%= genre %>">
                    <span class="help-block"></span>
            </div>
            <div class="form-group">
				<label for="inputTitle" class="col-sm-3 control-label">Synopsis</label>
                    <textarea name="synopsis" class="col-sm-9" rows="5" id="synopsis" placeholder="Summary of the plot"><%= synopsis %></textarea>
                    <span class="help-block"></span>
            </div>
            <div class="form-group">
				<label for="inputTitle" class="col-sm-3 control-label">Trailer URL</label>
                    <input type="text" class="col-sm-9" id="trailer" placeholder="e.g. https://www.archive.org" value="<%= trailer %>">
                    <span class="help-block"></span>
            </div>
        </div>
	</div>
    </div>  <!-- end column 1 -->

    <div class="col-xs-6">  <!-- col 2 -->
        <div id="movieimg">
            <img id='detailsImage' src="<%= poster %>">
            <input type="file" id="selectImage" accept="image/*" capture="camera"/>
        </div>
    </div>   <!-- end column 2 -->
</div> <!-- row -->