<div class="thumbnails col-lg-2 col-xs-2 col-sm-3 col-md-3 col-md-4 col-sm-4 col-xs-6 col-lg-6">
  <div class="thumbnail plain" title="some message">
    <div class="some_class">
        <video class="img-responsive" controls poster="<%= poster %>" >
            <source src="<%= trailer %>" type="video/mp4"/>
            <!-- fallback -->
        </video>
        <a href="#movies/<%= _id %>" class="plain">
          <div class="some_class_2">
              <b><%= title %></b>(<%= released %>) <br/>
              <b>Directed by:</b> <%= director %> <br/>
              <b>Starring: </b><%= starring %> <br/>
              <b>Genres: </b><%= genre %> Rating <%= rating %><br/>
           </div>
      </a>
    </div>
  </div>
</div>
</div>